In [ ]:
x = 6
y = 45897897896651
z = -6534565876

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#int
x = 6
y = 45897897896651
z = -6534565876

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x=56.8
y='45k'
print(type(x))
print(type(y))

<class 'float'>
<class 'str'>

In [ ]:
## Numbers

a=10
b=5
print(a)
print(b)

10
5

In [ ]:
x = 2    # int
y = 2.4  # float
z = 3j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2.0
2
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
x = 2    # int
y = 2.4  # float
z = 3j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2.0
2
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**type converstion**

In [ ]:
#int-> float

a=22
print (a)
print(type(a))

b=float(a)
print(b)
print(type(b))

22
<class 'int'>
22.0
<class 'float'>

In [ ]:
#int-> str

a=22
print (a)
print(type(a))

b=str(a)
print(b)
print(type(b))

22
<class 'int'>
22
<class 'str'>

In [ ]:
#float->int

a=22.34
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

22.34
<class 'float'>
22
<class 'int'>

In [ ]:
#float->str

a=22.34
print(a)
print(type(a))

b=str(a)
print(b)
print(type(b))

22.34
<class 'float'>
22.34
<class 'str'>

In [ ]:
#str -> int

In [ ]:
#str -> int

a='67'
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

67
<class 'str'>
67
<class 'int'>


***print concept***

In [ ]:
f=27


print("My name is sohail and my age is", f)

My name is sohail and my age is 27

In [ ]:
# +
d=7
print('my name is sohail and my age is ' +  str(d))

my name is sohail and my age is 7

In [ ]:
# identifiers
f=25
print('my name is sohail my age is %d'%(f))

my name is sohail my age is 25

In [ ]:
100>=500 and 100<=301

False

In [ ]:
10!=11

True

In [ ]:
10>20 or 10<15

True

In [ ]:
13%2

1

In [ ]:
import math

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
len(dir(math))

66

In [ ]:
math.factorial(5)

120

In [ ]:
math.factorial(6)

720

In [ ]:
math.sqrt(25)

5.0

In [ ]:
pow(2,5)

32

In [ ]:
2**5

32

In [ ]:
pow(2,5)

32

In [ ]:
pow(2,5,5)

2

In [ ]:
import sklearn

In [ ]:
dir(sklearn)

['calibration',
 'clone',
 'cluster',
 'compose',
 'config_context',
 'covariance',
 'cross_decomposition',
 'datasets',
 'decomposition',
 'discriminant_analysis',
 'dummy',
 'ensemble',
 'exceptions',
 'experimental',
 'externals',
 'feature_extraction',
 'feature_selection',
 'frozen',
 'gaussian_process',
 'get_config',
 'impute',
 'inspection',
 'isotonic',
 'kernel_approximation',
 'kernel_ridge',
 'linear_model',
 'manifold',
 'metrics',
 'mixture',
 'model_selection',
 'multiclass',
 'multioutput',
 'naive_bayes',
 'neighbors',
 'neural_network',
 'pipeline',
 'preprocessing',
 'random_projection',
 'semi_supervised',
 'set_config',
 'show_versions',
 'svm',
 'tree']

In [ ]:
len(dir(sklearn))

43

In [ ]:
# question

a = 567
rev = 0
while a> 0:
  digit = a % 10
  rev = rev *10+ digit
  a//=10

print(rev)

In [ ]:
a = 567
rev = 0
while a> 0:
  digit = a % 10
  rev = rev *10+ digit
  a//=10

print(rev)

765

In [ ]:
a = 567
rev = 0
while a > 0:
  digit = a % 10
  rev = rev *10+ digit
  a//=10

print(rev)

765

In [ ]:
# lower = lower function is used to convert into small letter
f = 'daTA SCIEnce' # save in the Memory
f = f.lower()
print(f) # calling from Memory

data science

In [ ]:
# lower = lower function is used to convert into small letter

f = 'daTA SCIEnce' # save in the Memory

f = f.lower()

print(f) # calling from Memory

data science

In [ ]:
 #  isalpha = do all are alphabets
a = 'indiausa'
print(a.isalpha())

True

In [ ]:
# index

a = [10,50,12,90,50,10]

print(a.index(10,1))

5

In [ ]:
# reverse -> [::-1]

a = [10,20,70,50]

a.reverse()

print(a)

[50, 70, 20, 10]

In [ ]:
f ='sohail shaik'
print(f.count('a'))



f = 'rahuk kumar'
print(f.count('a'))

2
2

In [ ]:
f = 'sohail shaik'
print(f.count('a'))

2

In [ ]:
a =  [2,3,2,1,2]

a.pop( )

print(a)




f = [2, 3, 2, 1, 2]

f.pop()

print(f)

[2, 3, 2, 1]
[2, 3, 2, 1]

**string**
string only in the form of '  '

string is immutable

In [ ]:
e = 'rahul gandhi'
e = e.capitalize()               # capital fist letter only of sentence
print(e)

Rahul gandhi

In [ ]:
rs = 'rahul gandhi'

rs = rs.title()             # capital first word of all sentence

print(rs)

Rahul Gandhi

In [1]:
x = 'fish Man'
x=x.lower()                # lower means all word will be small letter
print(x)

fish man

In [2]:
dell = 'sohail MohaMMed'
dell = dell.upper()             # All letter will be capital format
print(dell)

SOHAIL MOHAMMED

In [8]:
batch = "89"
print(batch.isnumeric())
                                                          # here the condition is only numbers

batch = '12345689'
print(batch.isnumeric())

True
True

In [12]:
dx = 'sohail'
dx = dx.replace('o','a')
print(dx)

sahail

In [18]:



c = 'cat dog goat'
print(c.count('dog'))

1

*****List*****

 Denoted as square brackit[]

 memory allocation | slicing| skiping concept are same like string only

 List is mutable

In [20]:
a =[ 56,333,2223,3432,34]
a.append(3323)                                       # append means add a single value
print (a)

[56, 333, 2223, 3432, 34, 3323]

In [23]:
W =[44,12,12,123,1234,142,33]
W.extend([34,100,22])                  # extend means add multiple value
print(W)

[44, 12, 12, 123, 1234, 142, 33, 34, 100, 22]

In [24]:
D = [3,2,4,6,3,20]
D.insert(2,45)                         # add value where we want as indexing
print(D)

[3, 2, 45, 4, 6, 3, 20]

In [25]:
o = [1,2,3,4,5,6,7]
o.pop()                                    # pop means it will delete last value
print (o)

[1, 2, 3, 4, 5, 6]

In [28]:
p = [1,2,3,4,5,6,7]
p.remove(3)                         # we can remove single value by using remove
print (p)

[1, 2, 4, 5, 6, 7]

In [29]:
s = [56,66,6,5,65]
s.reverse()                                             # reverse all the value by [: : -1]
print(s)

[65, 5, 6, 66, 56]

In [30]:
b = [23,242,24,12]
b.clear()                                       # clear all data from memory
print(b)

[]

In [31]:
d = 'sohail is a cricketer'
b = d.split()
print(b)

['sohail', 'is', 'a', 'cricketer']

*****tuple*****

we can write any thing in the () its consider as tuple

tuple - ()

its immutable

Its has one two biult in function
- count
- index

In [32]:
# count  : count value


e = (4,1,4,3,4,5,6)
print(e.count(4))

3

In [39]:
# index

d = (30,88,12,12,25)
print(d.index(25,4))

4

*******sets*******

python sets can be represented as {} flower brackit

python sets  concept is an unordered pair

python sets concept not allow dupicate

python sets is mutable inside it

In [46]:
g = 'data'
print (g)                     # order



f =[1,2,3,4]                  # order
print(f)

f = (6,1,8,9,6)                 # order
print(f)


f = {23,89,8,66,32}
print(f)                             # unorder


 # Here proved that sets is not in order its totally unorder

data
[1, 2, 3, 4]
(6, 1, 8, 9, 6)
{32, 66, 23, 8, 89}

In [48]:
 # add

 f = {10,11,12,18,16}                   # add means randomly add value
 f.add(6)
 print (f)

{16, 18, 6, 10, 11, 12}

In [50]:
# update

y = {34,22,12,32}

y.update([444,33,2])                  # multiple values update

print (y)

{32, 33, 34, 2, 12, 22, 444}

In [52]:
# intersection

h = {1,2,3,4,5,6}
k = {5,6,7,8,9,10}
print(h.union(k))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

*****dictionary*****

Its also consider as {} flower braket

Mainly its  work on keys & value only

There is no indexing | no slicing | no skipping

keys  means colomn name

values means data which is inside the column

In [54]:
p = {3.09,4,33,21,45,'sohail'}
print(p)                                       # value are not in order

{33, 3.09, 4, 21, 'sohail', 45}

In [56]:
c ={'name': 'sohail','Age' :25,'salary': 3400.89}
print(c)
print(type(c))

{'name': 'sohail', 'Age': 25, 'salary': 3400.89}
<class 'dict'>

In [58]:
c ={'name': 'sohail','Age' :25,'salary': 3400.89}
print(c['salary'])

3400.89

In [67]:
q = {'name':[ 'sohail','riyaz','rahul'],
     'age': [22,33,21],
     'salary':[1200.56, 1260.90, 1900.88]}

print(q['salary'][1])

1260.9

In [68]:
q = {'name':[ 'sohail','riyaz','rahul'],
     'age': [22,33,21],
     'salary':[1200.56, 1260.90, 1900.88]}

print(q['salary'][2])

1900.88

In [69]:
q = {'name':[ 'sohail','riyaz','rahul'],
     'age': [22,33,21],
     'salary':[1200.56, 1260.90, 1900.88]}

print(q['name'][2])

rahul

In [70]:
q = {'name':[ 'sohail','riyaz','rahul'],
     'age': [22,33,21],
     'salary':[1200.56, 1260.90, 1900.88]}

print(q['name'][0])

sohail

notes

 Mutable it can change

List

Dictionary

Set






 Immutable  it can't change

String

Tuple