**for loop**

In [ ]:
for i in range(21,26):
  print('sohail ')

sohail
sohail
sohail
sohail
sogail

In [ ]:


for j in range(11,15):
  print('Good Evening',j)
  print('USA')

Good Evening 11
USA
Good Evening 12
USA
Good Evening 13
USA
Good Evening 14
USA

In [ ]:


for j in range(11,15):
  print('Good Evening',j)
  print('usa)'

SyntaxError: incomplete input (ipython-input-2937920695.py, line 3)

In [ ]:
for i in range(21, 26):
    print('sohail', i)
    for j in range(56, 58):
        print('Good Morning', j)

sohail 21
Good Morning 56
Good Morning 57
sohail 22
Good Morning 56
Good Morning 57
sohail 23
Good Morning 56
Good Morning 57
sohail 24
Good Morning 56
Good Morning 57
sohail 25
Good Morning 56
Good Morning 57

In [ ]:
for i in range(21,26):
  print('sohail', i )
  for j in range(56, 58):
     print('Good Morning', j )

sohail 21
Good Morning 56
Good Morning 57
sohail 22
Good Morning 56
Good Morning 57
sohail 23
Good Morning 56
Good Morning 57
sohail 24
Good Morning 56
Good Morning 57
sohail 25
Good Morning 56
Good Morning 57

In [ ]:
for i in range(13,15):
  for j in range(21,24):
    for k in range(45,49):
      print(i,j,k)

13 21 45
13 21 46
13 21 47
13 21 48
13 22 45
13 22 46
13 22 47
13 22 48
13 23 45
13 23 46
13 23 47
13 23 48
14 21 45
14 21 46
14 21 47
14 21 48
14 22 45
14 22 46
14 22 47
14 22 48
14 23 45
14 23 46
14 23 47
14 23 48

In [ ]:
for usa in range(7):
  print(usa)

0
1
2
3
4
5
6

In [ ]:
for usa in range(5):
  print(usa , end = ' ')  # using end for side by side

0 1 2 3 4

In [ ]:
print('sohail')
for j in range(2,9):
  print('Hi hello',j)
print('I am from chennai')
for k in range(3):
  print('pppp',end=' ')
print()
print('I am from Hyderabad')

sohail
Hi hello 2
Hi hello 3
Hi hello 4
Hi hello 5
Hi hello 6
Hi hello 7
Hi hello 8
I am from chennai
pppp pppp pppp
I am from Hyderabad

In [ ]:
for i in range(8,12):
  print('DS and DA',i)
  for j in range(21,24):
    print('india',j)

DS and DA 8
india 21
india 22
india 23
DS and DA 9
india 21
india 22
india 23
DS and DA 10
india 21
india 22
india 23
DS and DA 11
india 21
india 22
india 23

In [ ]:
salary = 6000


if salary >30000:
  print("eligible for loan")
else:
  print("not eligible")

eligible for loan

In [ ]:
salary = 40000

if salary >450000:
  print("eligible for loan")
else:
  print("not eligible")

not eligible

In [ ]:
iphone = 80000
samsung = 50000
vivo = 30000
money = 160000

if money > iphone:
  print('I can buy Iphone')

elif money > samsung:
  print('I can buy samsung')

elif money > vivo:
  print('I can buy vivo')

else:
  print('Money not sufficient')

I can buy Iphone

In [ ]:
 for i in range(11,16):
   if i % 2 == 0:
     print(f'Even : {i}')

Even : 12
Even : 14

In [ ]:
f = 'india'

for i in range(len(f)):
    print(i, f[i])

0 i
1 n
2 d
3 i
4 a

In [ ]:
f = 'india'
for i in range(len(f)):
  print(i,f[i])

0 i
1 n
2 d
3 i
4 a

In [ ]:
f = 'Mohammed sohail' # save in the Memory
d = {}

for i in f:
  if i not in d:
    d[i] =1
  else:
    d[i] = d[i] + 1


print(d)

{'M': 1, 'o': 2, 'h': 2, 'a': 2, 'm': 2, 'e': 1, 'd': 1, ' ': 1, 's': 1, 'i': 1, 'l': 1}

In [ ]:
t=[10,13,23,67,89]
for i in t:
  print (i+100,end= '  ')

110  113  123  167  189

In [ ]:
t=[10,13,23,62,89]
for i in t:
  if i%2==0:
    print(f'even : {i}')

even : 10
even : 62

In [ ]:
fruits = {'apple':100,'banana': 200,'carrot':300}


for i in fruits:                                # it would collection only key
  print(i)

apple
banana
carrot

In [ ]:
fruits = {'apple':100,'banana': 200,'carrot':300}


for i in fruits:
  print(i, fruits[i])

apple 100
banana 200
carrot 300

In [ ]:
f = 'Mohammed sohail'
d = {}

for i in f:
  if i not in d:
    d[i] =1
  else:
    d[i] = d[i] + 1

print(d)

{'M': 1, 'o': 2, 'h': 2, 'a': 2, 'm': 2, 'e': 1, 'd': 1, ' ': 1, 's': 1, 'i': 1, 'l': 1}

In [ ]:
f = 'Mohammed sohail' # save in the Memory
d = {}

for i in f:
  if i not in d:
    d[i] =1
  else:
    d[i] = d[i] + 1


print(d)

{'M': 1, 'o': 2, 'h': 2, 'a': 2, 'm': 2, 'e': 1, 'd': 1, ' ': 1, 's': 1, 'i': 1, 'l': 1}

In [ ]:
f = 'Mohammed sohail' # save in the Memory
d = {}

for i in f:
  if i not in d:
    d[i] =1
  else:
    d[i] = d[i] + 1


print(d)

{'M': 1, 'o': 2, 'h': 2, 'a': 2, 'm': 2, 'e': 1, 'd': 1, ' ': 1, 's': 1, 'i': 1, 'l': 1}