**PANDAS**

`Pandas is used on excel data for data cleaning and data transformation `

In [2]:
import pandas as pd

len(dir(pd))

141

**Some Important Pandas Built_in_Functions for AI**

- `Series`
- `DataFrame`
- `shape `
- `size`
- `loc and iloc `
- `rename `
- `drop `
- `axis=1`
- `axis=0`
- `to_csv`
- `read_csv`
- `head`
- `tail `
- `sample `
- `isnull().sum()`
- `info()`
- `unique `
- `value_counts`
- `select_dtypes`
- `groupBy`
- `fillna `
- `dropna `
- `index `
- `columns `

In [2]:
# Series = we can create only 1 column
import numpy as np
import pandas as pd

a = np.array([10,20,50,90,40]) # 1D

b = pd.Series(a,index = ['s1','s2','s3','s4','s5'])


b

s1    10
s2    20
s3    50
s4    90
s5    40
dtype: int64

In [3]:
b['s3']

np.int64(50)

In [4]:
b["s2"]

np.int64(20)

In [5]:
# DataFrame = we can use to create proper excel data

a = {'Name' : ['Rahul','Parvez','Sohail','Hanu','Roy','Hasan'],
     'Location':['russia','UK','USA','India','Paris','Borabanda'],
     'Age':[20,21,25,29,32,34],
     'Company' : ['Google','Meta','IBM','MSFT','Wipro','Delloite'],
     'Salary':[1200,1400,1500,1900,2400,4500]
     }


b = pd.DataFrame(a,index = ['r1','r2','r3','r4','r5','r6'])

b

      Name   Location  Age   Company  Salary
r1   Rahul     russia   20    Google    1200
r2  Parvez         UK   21      Meta    1400
r3  Sohail        USA   25       IBM    1500
r4    Hanu      India   29      MSFT    1900
r5     Roy      Paris   32     Wipro    2400
r6   Hasan  Borabanda   34  Delloite    4500

In [6]:
b['Company']['r3']

'IBM'

In [7]:

b.loc['r5', 'Location'] = 'China'

In [8]:
b

      Name   Location  Age   Company  Salary
r1   Rahul     russia   20    Google    1200
r2  Parvez         UK   21      Meta    1400
r3  Sohail        USA   25       IBM    1500
r4    Hanu      India   29      MSFT    1900
r5     Roy      China   32     Wipro    2400
r6   Hasan  Borabanda   34  Delloite    4500

In [8]:
b['Salary']['r1']

np.int64(1200)

In [9]:
b.shape

(6, 5)

In [30]:
b.size

30

In [9]:
import numpy as np
import pandas as pd


b.loc['r2':'r4' , 'Location':'Company']

   Location  Age Company
r2       UK   21    Meta
r3      USA   25     IBM
r4    India   29    MSFT

In [10]:
b.iloc[1:4 , 1:4]

   Location  Age Company
r2       UK   21    Meta
r3      USA   25     IBM
r4    India   29    MSFT

In [11]:
b.iloc[2:4 , 0:4]

      Name Location  Age Company
r3  Sohail      USA   25     IBM
r4    Hanu    India   29    MSFT

In [12]:
b

      Name   Location  Age   Company  Salary
r1   Rahul     russia   20    Google    1200
r2  Parvez         UK   21      Meta    1400
r3  Sohail        USA   25       IBM    1500
r4    Hanu      India   29      MSFT    1900
r5     Roy      China   32     Wipro    2400
r6   Hasan  Borabanda   34  Delloite    4500

In [13]:
c = b.iloc[ : , 1:3]
c

     Location  Age
r1     russia   20
r2         UK   21
r3        USA   25
r4      India   29
r5      China   32
r6  Borabanda   34

In [18]:
b.columns

Index(['Name', 'Location', 'Age', 'Company', 'Salary'], dtype='object')

In [26]:
b.index

Index(['r1', 'r2', 'r3', 'r4', 'r5', 'r6'], dtype='object')

In [28]:
b['Age'] = [1,2,3,4,5,6]

In [14]:
b

      Name   Location  Age   Company  Salary
r1   Rahul     russia   20    Google    1200
r2  Parvez         UK   21      Meta    1400
r3  Sohail        USA   25       IBM    1500
r4    Hanu      India   29      MSFT    1900
r5     Roy      China   32     Wipro    2400
r6   Hasan  Borabanda   34  Delloite    4500

In [15]:
b['Tax'] = [10,20,50,60,70,5]
b['cls'] = [1,1,2,1,3,1]

In [16]:
b

      Name   Location  Age   Company  Salary  Tax  cls
r1   Rahul     russia   20    Google    1200   10    1
r2  Parvez         UK   21      Meta    1400   20    1
r3  Sohail        USA   25       IBM    1500   50    2
r4    Hanu      India   29      MSFT    1900   60    1
r5     Roy      China   32     Wipro    2400   70    3
r6   Hasan  Borabanda   34  Delloite    4500    5    1

In [17]:
b = b.rename(columns={'Tax':'Income_Tax'})

In [18]:
b

      Name   Location  Age   Company  Salary  Income_Tax  cls
r1   Rahul     russia   20    Google    1200          10    1
r2  Parvez         UK   21      Meta    1400          20    1
r3  Sohail        USA   25       IBM    1500          50    2
r4    Hanu      India   29      MSFT    1900          60    1
r5     Roy      China   32     Wipro    2400          70    3
r6   Hasan  Borabanda   34  Delloite    4500           5    1

In [21]:
b = b.rename(columns={'Income_Tax':'Tax'})

In [22]:
b

      Name   Location  Age   Company  Salary  Tax  cls
r1   Rahul     russia   20    Google    1200   10    1
r2  Parvez         UK   21      Meta    1400   20    1
r3  Sohail        USA   25       IBM    1500   50    2
r4    Hanu      India   29      MSFT    1900   60    1
r5     Roy      China   32     Wipro    2400   70    3
r6   Hasan  Borabanda   34  Delloite    4500    5    1

**Built in function which is use in  pandas for AI**

**series** :
We can create only 1 column.

**Data frame** :
We can create proper excel data like ...dictionary key_value.

**Shape** :
 From this we can know how many rows and column.

 **Size** :
We can know how many count of total Dimension.


**Loc** :
We will not use (n-1) and no index.

**Iloc** :
we will use (n-1) and index.

**Rename** :
Using this we can give another name.

**Drop** :
Its means remove/delete rows and columns

**Axis = 1**  :
Columns

**Axis = 0**:
Rows

**to_csv** :
"comma seperate valve" save a Data frame as a csv file.

**to_read** :
Reads a csv file into a pandas Dataframe.

**Head** :
Its show top 5 rows of Dataframe.

**Tail** :
Its show last 5 rows of Dataframe.

**Sample** :
Return random rows from a Dataframe.

**isnull().sum()** :
Counts missing (NaN) values in each column.

**info** :
Get all information from Dataframe.

**unique** :
Return unique values from a columns.

**value_counts** :
Counts frequency of each unique value.

**select_dtypes** :
Selects columns of a specific data type from a Data frame.

**group  by ** :
Groups data by a column to perform calculation.

**fill na** :
Fills missing (NaN) values with a specified value.

**drop na** :
Remove rows and columns with missing (NaN) values.

**index** :
Label of rows in a Data frame.

**columns** :
Label of data field in a data frame.